@media (max-width:2300px) {
  .section-first__title {
    width: 37%;
  }
  .gallery__block {
    width: 35%;
  }
  .gallery-slider {
    padding-top: 36px;
  }
  .gallery__item:nth-child(-n+9) {
    margin-bottom: 49px !important;
  }
}

@media (max-width:1913px) {
  .event__item {
    max-width: 31.1%;
  }
}

@media (max-width:1907px) {
  .swiper-pagination-gallery {
    margin-top: 10px;
  }
}

@media (max-width:1850px) {
  .sliderpro .swiper-container {
    max-width: 1350px;
  }
}

@media (max-width:1841px) {
  .event__item {
    max-width: 31%;
  }
}

@media (max-width:1820px) {
  .container {
    padding-left: 140px;
    padding-right: 140px;
  }
  .publish__top-btn {
    width: 15%;
  }
  .navigation-gallery-slider {
    width: 15%;
  }
}

@media (max-width:1776px) {
  .event__item {
    max-width: 30.9%;
  }
}

@media (max-width:1770px) {
  .header__logo {
    margin-right: auto;
  }
}

@media (max-width:1750px) {
  .sliderpro .swiper-container {
    max-width: 1300px;
  }
  .section-first__title {
    width: 43%;
  }
  .section-first__paragraph {
    width: 39%;
  }
}

@media (max-width:1717px) {
  .container {
    padding-left: 125px;
    padding-right: 125px;
  }
  .event__item {
    max-width: 30.8%;
  }
  .header-nav__item:not(:last-child) {
    margin-right: 56px;
  }
  .catalog-right-child {
    grid-template: repeat(9, 32px)/repeat(3, auto);
  }
}

@media (max-width:1690px) {
  .sliderpro .swiper-container {
    max-width: 1250px;
  }
  .section-first__paragraph {
    width: 40%;
  }
}

@media (max-width:1662px) {
  .event__item {
    max-width: 30.7%;
  }
  .header-bottom__search {
    padding-right: 0px;
  }
  .section-first__title {
    width: 41%;
  }
}

@media (max-width:1650px) {
  .sliderpro .swiper-container {
    max-width: 1200px;
  }
  .section-first__paragraph {
    width: 41%;
  }
  .section-first__title {
    width: 42%;
  }
}

@media (max-width:1620px) {
  .container {
    padding-left: 115px;
    padding-right: 115px;
  }
  .publish__top-btn {
    width: 17%;
  }
  .navigation-gallery-slider {
    width: 17%;
  }
}

@media (max-width:1610px) {
  .event__item {
    max-width: 30.6%;
  }
}

@media (max-width:1590px) {
  .bottom-list-5 {
    margin-right: -50px;
  }
  .sliderpro .swiper-container {
    max-width: 1150px;
  }
  .section-first__paragraph {
    width: 42%;
  }
  .section-first__title {
    width: 43%;
  }
}

@media (max-width:1563px) {
  .event__item {
    max-width: 30.5%;
  }
  .catalog-right-child {
    grid-template: repeat(9, 32px)/repeat(1, auto);
  }
  .event-block {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-first__paragraph {
    width: 43%;
  }
}

@media (max-width:1540px) {
  .sliderpro .swiper-container {
    max-width: 1100px;
  }
  .section-first__title {
    width: 44%;
  }
  .section-first__paragraph {
    width: 44%;
  }
}

@media (max-width:1520px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .header-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .event__item {
    max-width: 30.4%;
  }
  .catalog-right-block {
    width: 60%;
  }
  .event-block {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width:1490px) {
  .sliderpro .swiper-container {
    max-width: 1050px;
  }
  .section-first__title {
    width: 45%;
  }
}

@media (max-width:1478px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 65px;
  }
  .event__item {
    max-width: 30.3%;
  }
  .section-first__paragraph {
    width: 45%;
  }
  .section-first__title {
    width: 46%;
  }
}

@media (max-width:1440px) {
  .event__item {
    max-width: 30.2%;
  }
  .bottom-list-1 {
    margin-right: -30px;
  }
  .bottom-list-2 {
    margin-right: 41px;
  }
  .bottom-list-3 {
    margin-right: 82px;
  }
  .bottom-list-4 {
    margin-right: -21px;
  }
  .bottom-list-5 {
    margin-right: -60px;
  }
  .sliderpro .swiper-container {
    max-width: 1000px;
  }
  .event-block {
    padding-left: 25px;
    padding-right: 25px;
  }
  .section-first__paragraph {
    width: 46%;
  }
  .section-first__title {
    width: 47%;
  }
}

@media (max-width:1410px) {
  .container {
    padding-left: 90px;
    padding-right: 90px;
  }
  .catalog-right-block {
    width: 65%;
  }
  .header-nav__item:not(:last-child) {
    margin-right: 40px;
  }
  .event-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width:1405px) {
  .event__item {
    max-width: 30.1%;
  }
  .section-first__paragraph {
    width: 47%;
  }
}

@media (max-width:1380px) {
  .catalog-right-block {
    width: 68%;
    padding-left: 40px;
  }
  .event-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sliderpro .swiper-container {
    max-width: 950px;
  }
  .publishing__block {
    margin-right: 50px;
  }
  .section-first__title {
    width: 48%;
  }
}

@media (max-width:1371px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 55px;
  }
  .navigation-gallery-slider {
    width: 18%;
  }
  .publish__top-btn {
    width: 20%;
  }
  .event__item {
    max-width: 30%;
  }
  .section-first__paragraph {
    width: 48%;
  }
  .section-first__title {
    width: 49%;
  }
}

@media (max-width:1350px) {
  .event-block {
    padding-left: 10px;
    padding-right: 10px;
  }
  .bottom-list-1 {
    margin-right: -40px;
  }
  .bottom-list-2 {
    margin-right: 31px;
  }
  .bottom-list-3 {
    margin-right: 72px;
  }
  .bottom-list-4 {
    margin-right: -31px;
  }
  .bottom-list-5 {
    margin-right: -70px;
  }
  .catalog-right-block {
    width: 70%;
    padding-left: 30px;
  }
  .section-first__paragraph {
    width: 49%;
  }
}

@media (max-width:1339px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 45px;
  }
  .event__item {
    max-width: 29.9%;
  }
  .section-first__title {
    width: 50%;
  }
}

@media (max-width:1320px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .section-first__paragraph {
    width: 50%;
  }
}

@media (max-width:1285px) {
  .bottom-list-1 {
    margin-right: -50px;
  }
  .bottom-list-2 {
    margin-right: 21px;
  }
  .bottom-list-3 {
    margin-right: 62px;
  }
  .bottom-list-4 {
    margin-right: -41px;
  }
  .bottom-list-5 {
    margin-right: -80px;
  }
  .section-first__title {
    width: 51%;
  }
}

@media (max-width:1280px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 35px;
  }
  .section-first__paragraph {
    width: 52%;
  }
  .section-first__title {
    width: 52%;
  }
}

@media (max-width:1243px) {
  .section-first__title {
    width: 53%;
  }
}

@media (max-width:1240px) {
  .container {
    padding-left: 65px;
    padding-right: 65px;
  }
  .header-nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts-form-block {
    padding-left: 110px;
    padding-right: 70px;
  }
}

@media (max-width:1213px) {
  .container {
    padding-left: 55px;
    padding-right: 55px;
  }
  .section-first__title {
    width: 53%;
  }
  .section-first__paragraph {
    width: 53%;
  }
}

@media (max-width:1187px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 25px;
  }
  .bottom-list-1 {
    margin-right: -60px;
  }
  .bottom-list-2 {
    margin-right: 11px;
  }
  .bottom-list-3 {
    margin-right: 52px;
  }
  .bottom-list-4 {
    margin-right: -51px;
  }
  .bottom-list-5 {
    margin-right: -90px;
  }
}

@media (max-width:1173px) {
  .section-first__title {
    width: 54%;
  }
}

@media (max-width:1170px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 20px;
  }
  .container {
    padding-left: 55px;
    padding-right: 55px;
  }
  .section-first__paragraph {
    width: 55%;
  }
  .section-first__title {
    width: 55%;
  }
}

@media (max-width:1133px) {
  .bottom-list-1 {
    margin-right: -70px;
  }
  .bottom-list-2 {
    margin-right: 1px;
  }
  .bottom-list-3 {
    margin-right: 42px;
  }
  .bottom-list-4 {
    margin-right: -61px;
  }
  .bottom-list-5 {
    margin-right: -100px;
  }
  .section-first__title {
    width: 56%;
  }
}

@media (max-width:1130px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 10px;
  }
  .event__item:nth-of-type(-n+2) {
    margin-right: 41px;
  }
  .event__item {
    max-width: 30.5%;
  }
  .sliderpro .swiper-container {
    max-width: 900px;
  }
  .section-first__paragraph {
    width: 56%;
  }
}

@media (max-width:1116px) {
  .section-first__title {
    width: 58%;
  }
  .section-first__paragraph {
    width: 57%;
  }
}

@media (max-width:1100px) {
  .bottom-list-1 {
    margin-right: -80px;
  }
  .bottom-list-2 {
    margin-right: -11px;
  }
  .bottom-list-3 {
    margin-right: 32px;
  }
  .bottom-list-4 {
    margin-right: -71px;
  }
  .bottom-list-5 {
    margin-right: -110px;
  }
}

@media (max-width:1092px) {
  .catalog-right-block {
    padding-left: 20px;
    width: 80%;
  }
  .event__item:nth-of-type(-n+2) {
    margin-right: 30px;
  }
  .event__item {
    max-width: 31%;
  }
  .section-first__paragraph {
    width: 58%;
  }
}

@media (max-width:1080px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 5px;
  }
  .bottom-list-link {
    padding-left: 3px;
    padding-right: 3px;
  }
  .section-first__title {
    width: 59%;
  }
}

@media (max-width:1076px) {
  .event__item:nth-of-type(-n+2) {
    margin-right: 25px;
  }
  .event__item {
    max-width: 31.3%;
  }
  .sliderpro .swiper-container {
    max-width: 850px;
  }
  .section-first__paragraph {
    width: 59%;
  }
  .section-first__title {
    width: 60%;
  }
}

@media (max-width:1053px) {
  .bottom-list-1 {
    margin-right: -90px;
  }
  .bottom-list-2 {
    margin-right: -21px;
  }
  .bottom-list-3 {
    margin-right: 22px;
  }
  .bottom-list-4 {
    margin-right: -81px;
  }
  .bottom-list-5 {
    margin-right: -120px;
  }
  .section-first__paragraph {
    width: 60%;
  }
}

@media (max-width:1050px) {
  .header-nav__item:not(:last-child) {
    margin-right: 20px;
  }
  .section-first__title {
    width: 61%;
  }
  .section-first__paragraph {
    width: 61%;
  }
  .gallery__item:nth-child(-n+9) {
    margin-bottom: 42px !important;
  }
}

@media (max-width:1033px) {
  .bottom-list-item:not(:last-child) {
    margin-right: 0px;
  }
  .section-first__title {
    width: 62%;
  }
}

@media (max-width:1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header-container {
    padding-top: 29px;
    padding-bottom: 28px;
  }
  .hero-container {
    padding-top: 114px;
    padding-bottom: 110px;
  }
  .header-nav__item {
    line-height: 64px;
  }
  .section-first__paragraph {
    width: 77%;
    margin: 0;
    margin-bottom: 134px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }
  .section-first__title {
    margin-bottom: 15px;
  }
  .text-about {
    width: 100%;
  }
  .search-button>svg {
    width: 29px;
    height: 29px;
    top: 0px;
    left: 0px;
  }
  .search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    width: 29px;
    height: 29px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .search-input {
    width: 0%;
  }
  .search-button {
    width: 29px;
    height: 29px;
    left: 0px;
  }
  .search-input-is_active {
    width: 56.4%;
    position: relative;
  }
  .search-button-is_active {
    left: 14%;
  }
  .search-close-button--appear {
    display: block;
    position: absolute;
    left: 85%;
    border: none;
    background-color: transparent;
  }
  .search-close-button--appear>svg {
    width: 29px;
    height: 29px;
  }
  .search-is_active {
    position: absolute;
    right: 0%;
    width: 100%;
    height: 43px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
  }
  .header__menu {
    display: none;
  }
  .header__entry {
    display: none;
  }
  .header__nav {
    display: block;
    order: 0;
    margin-bottom: 100px;
  }
  .slider {
    top: -44px;
  }
  .flex {
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    bottom: -450px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 50px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 3;
  }
  .header__btn {
    display: block;
  }
  .nav__burger {
    display: block;
    margin-right: auto;
  }
  .sliderpro .swiper-container {
    max-width: 800px;
  }
  .header-bottom {
    display: none;
  }
  .header-nav__list {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .header-btn {
    width: max-content;
    margin-left: unset;
    padding: 17px 88px;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    margin-bottom: 50px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
  }
  .header-btn:focus.header-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: -7px;
    border: solid 2px #C283F3;
    width: 255px;
    border-radius: 100px;
    padding-bottom: 12px;
    min-height: 100%;
    z-index: 10;
  }
  .header-burger-menu {
    display: none;
  }
  .header-btn:hover {
    background-color: #9D5CD0;
    border-color: transparent;
  }
  .header-btn:active {
    background-color: #7943A4;
  }
  .gallery_container {
    padding-bottom: 66px;
  }
  .gallery-text {
    max-width: 100%;
  }
  .gallery-slider {
    max-width: 64%;
    padding-top: 26px;
  }
  .gallery__block {
    width: 30%;
    margin-right: 53px;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 7px !important;
  }
  .navigation-gallery-slider {
    width: 23%;
    margin-top: 8px;
    margin-bottom: 27px;
  }
  .gallery__item:nth-child(-n+9) {
    margin-bottom: 40px !important;
  }
  .gallery__img:not(:last-child) {
    margin-bottom: 32px;
  }
  .top-catalog {
    margin-bottom: 3px;
  }
  .flag {
    padding-top: 25px;
  }
  .flag-item-btn:not(:last-child) {
    margin-right: 31px;
  }
  .catalog-container {
    padding-top: 65px;
    padding-bottom: 80px;
  }
  .catalog-block-left {
    width: 73%;
  }
  .catalog-text {
    margin-bottom: 38px;
  }
  .catalog-right-block {
    padding-left: 48px;
    width: 78%;
  }
  .catalog-right-heading, .accordions .catalog-right-heading {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .catalog-right-child {
    grid-template: repeat(12, 32px)/repeat(1, 260px);
  }
  .accordion .open-accordion-list {
    height: 435px !important;
  }
  .event__book-img {
    min-height: 200px;
  }
  .event__item:nth-of-type(-n+2) {
    margin-right: 26px;
  }
  .event__item {
    max-width: 31.4%;
    min-height: 684px;
    margin-bottom: 35px;
  }
  .event__top-text-item {
    padding-right: 20px;
    padding-top: 11px;
  }
  .event-block {
    padding-left: 35px;
    padding-right: 33px;
  }
  .event__btn {
    padding-bottom: 4px;
    margin-bottom: 50px;
  }
  .publishing__block {
    margin-right: 27px;
  }
  .publishing__title {
    margin-bottom: 13px;
  }
  .publish__top-btn {
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .button-prev-publish {
    margin-left: -10px;
  }
  .button-next-publish {
    margin-right: -14px;
  }
  .swiper-slide .publish__img {
    max-height: 318px;
  }
  .publish__card-block {
    padding-top: 14px;
  }
  .publish__price-title {
    padding-bottom: 7px;
  }
  .publishing-container {
    padding-bottom: 80px;
    padding-top: 75px;
  }
  .projects-title {
    margin-bottom: 16px;
  }
  .projects-text {
    width: 100%;
  }
  .br-project {
    display: none;
  }
  .sliderpro .swiper-container {
    max-width: 819px;
  }
  .contacts-form-block {
    width: 47.5%;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 121px;
    padding-bottom: 100px;
  }
  .contacts-address-subtitle {
    font-weight: 600
  }
  .block-maps {
    width: 52.5%;
  }
  .contacts__soc-img {
    width: 59px;
  }
  .soc-img {
    width: 59px;
  }
  .contacts__soc-img {
    margin-right: 26px;
  }
  .footer__container {
    padding-top: 33px;
  }
  .contacts-address {
    margin-bottom: 33px;
  }
  .footer__social-img:not(:last-child) {
    margin-right: 30px;
  }
  .vk {
    width: 60px;
    height: 60px;
  }
  .inst {
    width: 60px;
    height: 60px;
  }
  .fb {
    width: 60px;
    height: 60px;
  }
  .footer-input-2 {
    margin-bottom: 25px;
  }
}

@media (max-width:1020px) {
  .catalog-right-child {
    grid-template: repeat(12, 33px)/repeat(1, 250px);
  }
  .event-block {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width:1008px) {
  .section-first__title {
    width: 63%;
  }
  .catalog-right-child {
    grid-template: repeat(12, 33px)/repeat(1, 240px);
  }
}

@media (max-width:1000px) {
  .gallery_container {
    display: flex;
    flex-direction: column;
  }
  .gallery-slider {
    max-width: 100%;
  }
  .gallery-none {
    display: none;
  }
  .gallery-block {
    display: block;
  }
  .navigation-gallery-slider {
    width: 20%;
  }
  .gallery__item {
    height: 286px;
  }
  .gallery-block {
    padding-top: 9px;
  }
  .catalog-block {
    flex-direction: column-reverse;
  }
  .catalog-right-block {
    width: 100%;
    padding-left: 0px;
  }
  .gallery__item:nth-child(-n+9) {
    margin-bottom: 28px !important;
  }
  .event-tittle {
    font-size: 48px;
    line-height: 65px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 16px;
  }
  .contacts-form-block {
    width: 47.5%;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 124px;
    padding-bottom: 100px;
  }
  .navigation-gallery-slider {
    width: 23%;
    margin-top: 8px;
    margin-bottom: 23px;
  }
  .accordions {
    width: 100%;
    padding: 0;
  }
  .catalog-left-block-language {
    width: 100%;
    padding-top: 50px;
  }
  .img-hudojnik {
    width: 100%;
  }
  .catalog-text {
    margin-bottom: 19px;
  }
  .catalog-right-child {
    grid-template: repeat(9, 32px)/repeat(3, 246px);
  }
  .event-tittle {
    margin-bottom: 0px;
  }
  .accordion .open-accordion-list {
    height: auto !important;
    padding-bottom: 24px;
  }
  .catalog-block-left {
    width: 100%;
    padding-top: 50px;
  }
  .gallery__block {
    width: 42%;
  }
  .catalog-container {
    padding-bottom: 72px;
  }
  .event__item:nth-of-type(n+3) {
    display: none;
    margin: 0;
    margin-bottom: 20px;
  }
  .event__item:nth-of-type(-n+2) {
    margin: 0;
    margin-bottom: 20px;
  }
  .event__item {
    max-width: 47.7%;
  }
  .event__item:nth-of-type(-n+1) {
    margin-right: 30px;
  }
  .event__list {
    margin-bottom: 31px;
  }
  .event__btn {
    margin-bottom: 49px;
  }
  .event__item:nth-child(3) {
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .event-container {
    padding-bottom: 79px;
  }
  .publishing-container {
    padding-top: 76px;
    flex-direction: column;
  }
  .publishing__block {
    width: 100%;
  }
  .label-publish__check {
    display: grid;
    grid-template: repeat(4, 32px)/repeat(3, 243px);
  }
  .publish-label-1 {
    order: 1;
  }
  .publish-label-2 {
    order: 7;
  }
  .publish-label-3 {
    order: 9;
  }
  .publish-label-4 {
    order: 11;
  }
  .publish-label-5 {
    order: 5;
    margin-left: -61px;
  }
  .publish-label-6 {
    order: 8;
    margin-left: -61px;
  }
  .publish-label-7 {
    order: 10;
    margin-left: -61px;
  }
  .publish-label-8 {
    order: 12;
    margin-left: -61px;
  }
  .publish-label-9 {
    order: 6;
  }
  .publish-label-10 {
    order: 8;
  }
  .publish-label-11 {
    order: 10;
  }
  .publish-label-12 {
    order: 12;
  }
  .publishing-swiper {
    width: 100%;
    padding-top: 36px;
  }
  .publish-swiper {
    max-width: 620px;
  }
  .publish__top-btn {
    padding-top: 19px;
    width: 20%;
  }
  .publishing-container {
    padding-bottom: 70px;
  }
  .project-container {
    padding-top: 80px;
  }
  .projects-title {
    margin-bottom: 16px;
  }
  .projects-text {
    width: 99%;
    margin-bottom: 25px;
  }
  .proyect__part {
    padding-bottom: 30px;
  }
  .sliderpro .swiper-container {
    max-width: 565px;
  }
  .slide-project img {
    height: 106px;
    object-fit: initial;
  }
  .block-maps {
    width: 43.5%;
  }
  .contacts-form-block {
    width: 56.5%;
  }
  .contacts-address {
    margin-bottom: 37px;
  }
  .contacts-form-block {
    padding-bottom: 105px;
  }
}

@media (max-width:997px) {
  .section-first__title {
    width: 66%;
  }
  .swiper-button-prev {
    margin-left: -6px;
  }
  .swiper-button-next {
    margin-right: -6px;
  }
}

@media (max-width:953px) {
  .section-first__title {
    width: 69%;
  }
  .section-first__paragraph {
    width: 80%;
  }
}

@media (max-width:923px) {
  .section-first__title {
    width: 73%;
  }
  .section-first__paragraph {
    width: 91%;
  }
}

@media (max-width:880px) {
  .publish__top-btn {
    width: 25%;
  }
  .navigation-gallery-slider {
    margin-top: 31px;
    margin-bottom: 26px;
  }
  .gallery-block {
    margin-top: 0;
  }
}

@media (max-width:875px) {
  .navigation-gallery-slider {
    width: 20%;
  }
  .section-first__title {
    width: 77%;
  }
  .publish__top-btn {
    width: 24%;
  }
  .contacts-form-block {
    padding-right: 80px;
  }
}

@media (max-width:832px) {
  .section-first__title {
    width: 82%;
  }
  .contacts-form-block {
    padding-right: 60px;
  }
}

@media (max-width:820px) {
  .section-first__paragraph {
    width: 100%;
  }
}

@media (max-width:789px) {
  .contacts-form-block {
    padding-right: 50px;
  }
}

@media (max-width:787px) {
  .section-first__title {
    width: 87%;
  }
  .publish__top-btn {
    width: 20%;
  }
}

@media (max-width:767px) {
  .search-button>svg {
    width: 43px;
    height: 16px;
    top: 0px;
    left: 0px;
  }
  .is-active {
    background: #666666 !important;
  }
  .search-close-button--appear>svg {
    width: 16px;
    height: 16px;
  }
  .slider {
    min-height: 350px;
  }
  .search-button-is_active {
    left: 10%;
  }
  .gallery__block {
    width: 42%;
  }
  .gallery-text {
    width: 100%;
    margin-bottom: 10px;
  }
  .gallery-slider {
    max-width: 100%;
    margin-top: 47px;
    margin-bottom: 14px;
  }
  .navigation-gallery-slider {
    width: 19%;
  }
  .swiper-button-prev {
    margin-left: -7px;
  }
  .swiper-slide .gallery__img {
    height: 280px;
  }
  .catalog-block {
    display: flex;
    flex-direction: column;
  }
  .english .catalog-block {
    display: flex;
  }
  .top-catalog {
    margin-bottom: 17px;
  }
  .catalog-text {
    margin-bottom: 20px;
  }
  .catalog-block-left {
    order: 2;
  }
  .catalog-block-left {
    width: 100%;
  }
  .catalog-left-block-language {
    width: 100%;
    margin-bottom: 10px;
  }
  .accordions {
    width: 100%;
    padding: 0;
  }
  .accordions .catalog-right-heading {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .catalog-right-block {
    width: 100%;
    padding: 0;
  }
  .gallery-block {
    padding-top: 0px;
  }
  .flag {
    padding-top: 10px;
  }
  .accordion .open-accordion-list {
    height: auto !important;
    padding-bottom: 18px;
  }
  .event-tittle {
    font-size: 28px;
    line-height: 30px !important;
  }
  .event-container {
    padding-top: 16px;
    padding-bottom: 38px;
  }
  .open-accordion-list {
    height: 339px !important;
  }
  .catalog-block-left {
    padding-top: 50px;
  }
  .placeholder-left-catalog {
    margin-bottom: 8px;
  }
  .catalog-container {
    padding-bottom: 67px;
  }
  .catalog-right-child {
    grid-template: repeat(9, 32px)/repeat(3, 210px);
  }
  .event__item {
    max-width: 47%;
  }
  .event__item:nth-of-type(-n+2) {
    /* margin: 0; */
    margin-bottom: 20px;
  }
  .event__item:nth-of-type(-n+1) {
    margin-right: 31px;
  }
  .event__top-text-item {
    padding-right: 15px;
    padding-top: 16px;
  }
  .event__item:nth-of-type(n+3) {
    display: none;
    margin: 0;
    margin-bottom: 20px;
  }
  .event__item:nth-child(2) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .event__item:nth-child(3) {
    margin-right: 31px;
    margin-bottom: 20px;
  }
  .event__btn {
    margin-bottom: 48px;
  }
  .event__list {
    margin-bottom: 41px;
  }
  .event-block {
    padding-left: 33px;
    padding-right: 30px;
  }
  .accordion .open-accordion-list {
    height: auto !important;
  }
  .publishing-container {
    display: flex;
    flex-direction: column;
    padding-top: 99px;
    padding-bottom: 70px;
  }
  .publishing__block {
    width: 100%;
  }
  .label-publish__check {
    display: grid;
    grid-template: repeat(4, 32px)/repeat(3, 223px);
  }
  .publishing-swiper {
    width: 100%;
  }
  .publish-swiper {
    padding-left: 27px;
    padding-right: 27px;
  }
  .publishing {
    background-image: url('../img/birmingham-768.png');
    background-position: center;
  }
  .publish-label-1 {
    order: 0;
  }
  .publish-label-2 {
    order: 3;
  }
  .publish-label-3 {
    order: 8;
  }
  .publish-label-4 {
    order: 9;
  }
  .publish-label-5 {
    order: 0;
    margin-left: -42px;
  }
  .publish-label-6 {
    order: 6;
    margin-left: -42px;
  }
  .publish-label-7 {
    order: 8;
    margin-left: -42px;
  }
  .publish-label-8 {
    order: 10;
    margin-left: -42px;
  }
  .publish-label-9 {
    order: 2;
    margin-left: 38px;
  }
  .publish-label-10 {
    order: 6;
    margin-left: 38px;
  }
  .publish-label-11 {
    order: 8;
    margin-left: 38px;
  }
  .publish-label-12 {
    order: 10;
    margin-left: 38px;
  }
  .publish__top-btn {
    width: 19%;
    padding-top: 54px;
  }
  .swiper-slide .publish__img {
    max-height: 500px;
    height: 318px;
  }
  .projects-text {
    width: 99%;
    margin-bottom: 25px;
  }
  .proyect__part {
    padding-bottom: 30px;
  }
  .sliderpro .swiper-container {
    max-width: 565px;
  }
  .project-slide .swiper-slide {
    height: 105px;
  }
  .swiper-slide img {
    object-fit: initial;
  }
  .contacts-address {
    margin-bottom: 16px;
  }
  .contacts-form-block {
    width: 56.5%;
  }
  .block-maps {
    width: 43.5%;
  }
  .contacts-form-block {
    padding-bottom: 101px;
  }
  .footer__container {
    padding-top: 40px;
  }
}

@media (max-width:767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-container {
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .flex {
    top: 45px;
    padding-left: 15px;
    bottom: -50px;
  }
  .header-nav__list {
    margin: 0;
    margin-bottom: 7px;
  }
  .list__link {
    font-size: 16px;
  }
  .header-nav__item {
    line-height: 34px;
  }
  .header__nav {
    margin-bottom: 20px;
  }
  .header-btn {
    padding: 10px 40px;
  }
  .nav__burger {
    background-image: url('../img/Burger-mobile.png');
    width: 20px;
    height: 15px;
  }
  .nav__burger svg * {
    display: none;
  }
  .header__logo {
    width: 24%;
  }
  #search__svg {
    width: 16px;
    height: 16px;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 46px;
  }
  .section-first__title {
    font-size: 32px;
    width: 95%;
    line-height: inherit;
  }
  .br-first-tittle {
    display: block;
  }
  .section-first__paragraph {
    font-size: 12px;
    font-weight: normal;
    width: 98%;
    line-height: 16px;
    margin-bottom: 41px;
  }
  .br-first-paragraph {
    display: block;
  }
  .section-first__btn-mailing {
    font-size: 12px;
    padding-top: 5.5px;
    padding-bottom: 3.5px;
    padding-left: 16px;
    padding-right: 15px;
  }
  .about-container {
    padding-top: 58px;
    padding-bottom: 41px;
  }
  .title {
    font-size: 28px;
    line-height: 33px;
  }
  .section-first__title {
    font-size: 32px;
    line-height: 33px;
  }
  .about-title {
    margin-bottom: 10px;
  }
  .text-about {
    font-size: 14px;
    line-height: 28px;
  }
  .gallery_container {
    padding-top: 55px;
    padding-bottom: 28px;
  }
  .choices__list--dropdown.is-active {
    z-index: 4;
    background-color: black;
  }
  .gallery__block {
    width: 100%;
    z-index: 3;
  }
  .gallery-title {
    margin-bottom: 16px;
  }
  .gallery-filter-row {
    margin-top: -2px;
    margin-bottom: 3px;
  }
  .gallery-filter {
    margin-bottom: 14px;
  }
  .gallery-slider {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .gallery__item {
    flex-direction: row;
    border: none;
    max-width: 500px;
  }
  .gallery__item:nth-child(-n+9) {
    margin-bottom: 0px !important;
  }
  .gallery__img:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 15px;
  }
  .swiper-wrapper {
    margin: 0;
    z-index: 4;
  }
  .gallery-slider {
    margin-top: 0;
  }
  .swiper-slide .gallery__img {
    height: 367px;
  }
  .navigation-gallery-slider {
    margin: 0;
    margin-top: 106px;
    width: 45%;
  }
  .swiper-pagination-gallery {
    margin-top: 15px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 92% !important;
  }
  .catalog-container {
    padding-top: 54px;
    padding-bottom: 38px;
  }
  .catalog-tittle {
    font-size: 28px;
  }
  .top-catalog {
    margin-bottom: 21px;
    display: flex;
    align-items: normal;
    flex-direction: column;
  }
  .flag {
    display: flex;
    justify-content: space-between;
  }
  .catalog-text {
    display: none;
  }
  .catalog-right-header {
    font-weight: normal;
    font-size: 18px;
  }
  .catalog-right-heading {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .catalog-right-btn {
    max-width: 30px;
    height: 30px;
  }
  .open-accordion-list {
    padding-top: 20px;
    padding-bottom: 19px;
    height: auto !important;
  }
  .catalog-right-child {
    display: flex;
    flex-direction: column;
  }
  .catalog-firsth-child {
    display: grid;
  }
  .catalog-block-left__image {
    margin-bottom: 17px;
  }
  .catalog-block-left__tittle {
    margin-bottom: 14px;
  }
  .catalog-block-left__placeholder {
    margin-bottom: 6px;
  }
  .event-container {
    padding-bottom: 27px;
  }
  .event-tittle {
    font-size: 28px;
    line-height: 62px;
  }
  .event__list {
    margin: 0;
  }
  .event-block {
    padding-left: 27px;
    padding-right: 24px;
  }
  .event__list_not-swapper {
    display: flex;
  }
  .event__list {
    flex-direction: row;
    margin-bottom: 10px;
  }
  .event-more-btn {
    display: block;
  }
  .event__item-swapper {
    border: 1px solid #CACACA;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100% !important;
  }
  .event__item-swapper {
    height: auto;
  }
  /* .event__book-img {
    min-height: 170px;
  } */
  .event__top-text-item {
    padding-top: 13px;
  }
  .swiper-pagination-bullets {
    margin-top: 24px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px !important;
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
  }
  .swiper-pagination-bullet-active {
    background: #666666;
  }
  #editions-accordion {
    display: block;
  }
  #editions-accordion .ui-accordion-header {
    position: relative;
    display: flex;
    padding: 3px 0 3px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    line-height: 30px;
    font-size: 17px;
    font-weight: normal;
  }
  .small-tittle {
    font-size: 25px;
    font-weight: normal;
  }
  #editions-accordion .ui-accordion-header-icon {
    position: absolute;
    right: 2px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: translateY(-25%) rotate( 45deg);
  }
  #editions-accordion .ui-accordion-content {
    position: relative;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    overflow: visible;
  }
  .editions-categories__item:not(:last-child), .editions-categories__box-item:not(:last-child) {
    margin: 0;
  }
  .editions-categories__item, .editions-categories__box-item {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .editions-categories__item, .editions-categories__box-item {
    color: #fff;
  }
  .editions-categories__label {
    position: relative;
    cursor: pointer;
  }
  .editions-categories__checkbox, .editions-accordion__checkbox {
    position: absolute;
    opacity: 0;
  }
  .footer-input-2 {
    margin-bottom: 0;
  }
  .editions-categories__checkbox+span, .editions-accordion__checkbox+span {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-right: 8px;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    transition: border-color .3s ease-in-out;
    transform: translateY(-50%);
  }
  .editions-categories__label>.editions-categories__signature {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    transition: color .3s ease-in-out;
  }
  .editions-accordion__box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .bestsellers-item, .art-item, .architecture-item, .fashion-item, .forkids-item, .fiction-item, .journalism-item, .travelguides-item, .philosophy-item, .education-item, .newspapers-item {
    display: none;
  }
  .editions-categories__box-item {
    position: relative;
  }
  .box-item__remover {
    position: absolute;
    right: 0;
    top: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
  }
  .box-item__remover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #C283F3;
    transform: translateY(-50%) rotate( 45deg);
  }
  .box-item__remover::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #C283F3;
    transform: translateX(-50%) rotate( 45deg);
  }
  .editions-categories__checkbox:checked+span::after, .editions-accordion__checkbox:checked+span::after {
    opacity: 1;
  }
  .editions-categories__checkbox+span::after, .editions-accordion__checkbox+span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #C283F3;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity .3s ease-in-out;
  }
  .editions-categories__checkbox:checked+span, .editions-accordion__checkbox:checked+span {
    border-color: #C283F3;
  }
  .editions-categories__checkbox+span, .editions-accordion__checkbox+span {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-right: 8px;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    transition: border-color .3s ease-in-out;
    transform: translateY(-50%);
  }
  .editions-categories__checkbox:checked~.editions-categories__signature, .editions-accordion__checkbox:checked~.editions-categories__signature {
    color: #C283F3;
  }
  .publish-desktop {
    display: none;
  }
  .publishing-container {
    padding-top: 53px;
    padding-bottom: 4px;
  }
  .publishing__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .publish-desktop {
    display: none;
  }
  .publish__price-title {
    padding-top: 16px;
  }
  .publishing-swiper {
    display: none;
  }
  .publishing-swiper-not-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 52px;
  }
  .publishing-slide-notslider {
    width: 44%;
    margin-bottom: 50px;
  }
  .publish__card-block {
    padding-top: 4px;
    flex-direction: column;
  }
  .publish__card-item {
    font-size: 12px;
  }
  .publish__card-aftor {
    font-size: 12px;
    line-height: 10px;
    padding-bottom: 1px;
  }
  .publish__card-price {
    font-size: 11px;
    margin-left: 0;
    margin-bottom: 9px;
  }
  .publish__btn {
    font-size: 12px;
    max-width: 130px;
    padding: 7px 20px;
  }
  .project-container {
    padding-top: 52px;
    padding-bottom: 54px;
  }
  .projects-title {
    font-size: 28px;
    margin-bottom: -2px;
  }
  .projects-text {
    width: 100%;
    margin-bottom: 10px;
  }
  .proyect__part {
    font-size: 19px;
    padding-bottom: 9px;
  }
  .sliderpro .swiper-container {
    max-width: 380px;
  }
  .contacts-box {
    margin-bottom: 27px;
  }
  .contacts-total-block {
    display: block;
    position: relative;
  }
  .contacts-form-block {
    width: 100%;
    border: none;
    padding-top: 0;
    padding-right: 13px;
    padding-left: 14px;
    padding-bottom: 0;
  }
  .contacts-container {
    margin-bottom: 12px;
  }
  .contacts-address-subtitle {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .contacts-address {
    font-size: 14px;
    margin-bottom: 357px;
  }
  .block-maps {
    width: 100%;
    top: 61px;
    height: 320px;
    z-index: 10;
    position: absolute;
  }
  .contacts-form-subtitle {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .footer-input__full-name, .footer-input__email {
    margin-bottom: 19px;
  }
  .contacts-form-button {
    padding: 6px 34px;
    font-size: 12px;
    margin-top: 0;
  }
  .footer-form {
    margin-bottom: 20px;
  }
  .contacts-socials-subtitle {
    font-size: 18px;
    margin-bottom: 7px;
  }
  .contacts__soc-img {
    margin-right: 20px;
    width: 48px;
  }
  .soc-img {
    width: 48px;
  }
  .footer__container {
    flex-direction: column-reverse;
    padding-top: 20px;
  }
  .vk {
    width: 50px;
    height: 50px;
  }
  .inst {
    width: 50px;
    height: 50px;
  }
  .fb {
    width: 50px;
    height: 50px;
  }
  .footer__soc {
    margin-bottom: 17px;
  }
  .img-hudojnik {
    width: 100%;
  }
}

@media (max-width:750px) {
  .flex {
    top: 45px;
    padding-left: 15px;
    bottom: -50px;
  }
}

@media (max-width: 700px) {
  .flex {
    top: 58px;
    padding-left: 15px;
    bottom: -45px;
  }
  .header__nav {
    margin-bottom: 10px;
  }
}

@media (max-width: 670px) {
  .flex {
    top: 54px;
    padding-left: 15px;
    bottom: -45px;
  }
}

@media (max-width: 630px) {
  .catalog-firsth-child {
    grid-template: repeat(12, 32px)/repeat(3, 205px);
  }
}

@media (max-width: 597px) {
  .flex {
    top: 50px;
    padding-left: 15px;
    bottom: -40px;
  }
}

@media (max-width:546px) {
  .event__item:nth-child(3) {
    margin-right: 25px;
    margin-bottom: 20px;
  }
  .event__item:nth-of-type(-n+1) {
    margin-right: 25px;
  }
}

@media (max-width: 525px) {
  .flex {
    top: 47px;
    padding-left: 15px;
    bottom: -35px;
  }
}

@media (max-width:500px) {
  .event-more-btn {
    display: none;
  }
  .event__item:nth-of-type(n+3) {
    display: block;
    margin: 0;
  }
  .event__item {
    max-width: 100%;
    width: 100%;
  }
  .pagination-event {
    display: block;
    bottom: 20px !important;
    left: 11px !important;
  }
  .event__list.swiper-wrapper {
    flex-wrap: nowrap;
  }
  .event__book-img {
    max-height: 205px;
  }
  .event-block {
    padding-left: 27px;
    padding-right: 20px;
  }
  .event__book-titles {
    margin-bottom: 31px;
  }
  .event__bottom-text-item {
    margin-bottom: 19px;
  }
  .event__btn {
    margin-bottom: 50px;
  }
  .swiper-pagination-bullets {
    margin-top: 14px;
  }
  .sliderpro .swiper-container {
    max-width: 200px;
  }
  .flag-item-btn {
    width: 32px;
    height: 32px;
    background-size: cover;
  }
  .flag-item-btn:not(:last-child) {
    margin-right: 0;
  }
  .slide-project img {
    height: 60px;
    object-fit: initial;
  }
  .button-project-prev {
    margin-top: -32px;
  }
  .button-project-next {
    margin-top: -32px;
  }
  .project-container {
    padding-bottom: 16px;
  }
  .logo-footer {
    width: 33%;
  }
}

@media (max-width: 445px) {
  .catalog-firsth-child {
    grid-template: repeat(12, 32px)/repeat(3, 210px);
  }
}

@media (max-width: 419px) {
  .catalog-firsth-child {
    grid-template: repeat(12, 32px)/repeat(3, 200px);
  }
}

@media (max-width: 410px) {
  .artist-lorem img {
    width: 50%;
  }
}

@media (max-width: 406px) {
  .accordion .open-accordion-list {
    height: auto !important;
  }
  .catalog-firsth-child {
    grid-template: repeat(24, 32px)/repeat(3, 200px);
  }
}
