@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff') format('woff'), url('..fonts/OpenSans-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('..fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff') format('woff'), url('..fonts/OpenSans-Bold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('..fonts/OpenSans-ExtraBold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  transition: border .5s ease-in-out;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

/* width */

.select-options::-webkit-scrollbar {
  width: 2px;
}

/* Track */

.select-options::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */

.select-options::-webkit-scrollbar-thumb {
  background: #FFFFFF;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  overflow-x: hidden;
}

.container {
  max-width: 1643px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: #FFFFFF;
}

input[type="search"]::-moz-placeholder {
  color: #FFFFFF;
}

/* heading */

.main-title {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin: 0;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  margin: 0;
  line-height: 65px;
}

.small-tittle {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 33px;
  margin: 0;
}

/* header */

.header-container {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 29px;
}

.header-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.header-top {
  background-color: #000000;
}

.header__logo {
  margin-right: 11%;
  display: inline-block;
}

.menu-toggle {
  display: none;
}

.list__link {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding-left: 6px;
  padding-right: 6px;
  transition: color .2s ease-in-out;
}

.list__link:hover {
  color: #C283F3;
}

.list__link:active {
  color: #7943A4;
  outline: none;
}

.list__link:focus:not(:active), .list__link:focus:not(:hover) {
  background: #7943A4;
  color: #FFFFFF;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__item:first-child {
  white-space: nowrap;
}

.simplebar-block {
  position: absolute;
  top: 46.5px;
  display: none;
  height: 300px;
  width: 300px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.simplebar-track {
  right: -19px !important;
  background-color: #000000;
  width: 2px !important;
}

.simplebar-scrollbar {
  opacity: 1;
  background-color: #ffffff;
  width: 2px;
  z-index: 1;
}

.simplebar-block-active {
  display: block;
}

.header__entry {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  order: 3;
  padding-left: 8px;
  padding-right: 5px;
  transition: color .5s ease-in-out;
}

.header__entry:focus:not(:active), .header__entry:focus:not(:hover) {
  background: #7943A4;
}

.header__entry:focus:not(:active) .svg-enter, .header__entry:focus:not(:hover) .svg-enter {
  background: #7943A4;
}

.header__entry:hover {
  color: #C283F3;
}

.header__entry:hover .svg-enter {
  fill: #C283F3;
}

.header__entry:active {
  color: #9D5CD0;
}

.header__entry:active .svg-enter {
  fill: #9D5CD0;
}

.nav__burger {
  display: none;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  transition: fill .5s ease-in-out;
}

.nav__burger:hover>svg * {
  fill: #C283F3;
}

.nav__burger:active>svg * {
  fill: #9D5CD0;
}

.header-btn {
  display: none;
  transition: border .5s ease-in-out;
}

.header-btn:hover {
  border: 2px solid #D1A9F0;
}

.header-btn:active {
  border: 2px solid #9D5CD0;
}

.x svg * {
  display: none;
}

.x {
  background-image: url("../img/X.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  transition: fill .5s ease-in-out;
  transition: border-color .5s ease-in-out;
}

.x:focus:not(:active) *, .x:focus:not(:hover) * {
  border-color: #9D5CD0;
  fill: #9D5CD0;
}

.x:active * {
  border-color: #7943A4;
  fill: #7943A4;
}

.x:hover * {
  border-color: #9D5CD0;
  fill: #9D5CD0;
}

.header-burger-menu {
  display: none;
  order: 2;
  margin-right: auto;
}

#header-btn__svg {
  width: 13px;
  height: 13px;
  margin-right: 4px;
  fill: white;
}

.menu-bottom-list {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  z-index: 1;
}

.header-bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header-bottom-container {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 21px;
}

.header-burger-menu {
  display: flex;
}

.flex {
  display: block !important;
}

.header__menu {
  color: #FFFFFF;
  /* margin-right: 280px; */
  margin-right: auto;
  order: 2;
}

.svg-enter {
  margin-right: 5px;
  transition: color .5s ease-in-out;
}

.header-bottom__form {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: border-color .5s ease-in-out;
}

/* DROPDOWN */

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

/* END DROPDOWN */

.header-bottom__form:focus:not(:active) .header-bottom__search, .header-bottom__form:focus:not(:hover) .header-bottom__search {
  border-color: #C283F3;
}

.header-bottom__form:hover .header-bottom__search {
  border-color: #C283F3;
}

.header-bottom__form:active .header-bottom__search {
  border-color: #C283F3;
}

.header-bottom__form:active .header-bottom__search::placeholder {
  color: transparent;
}

.item__bottom {
  cursor: pointer;
}

.bottom-list-link {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}

.bottom-list-link svg {
  transition: transform .3s ease-in-out;
}

.bottom-list-link-active svg {
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
}

.bottom-list-link:focus:not(:active), .bottom-list-link:focus:not(:hover) {
  background: #7943A4;
}

.bottom-list-link:active:focus {
  background: none;
}

.bottom-list-link:hover:focus {
  background: none;
}

.bottom-list-link:hover {
  color: #9D5CD0;
  transition: color .5s ease-in-out;
}

.bottom-list-link:hover svg path {
  stroke: #9D5CD0;
  transition: stroke .5s ease-in-out;
}

.bottom-list-link:active {
  color: #7943A4;
  transition: color .5s ease-in-out;
}

.bottom-list-link:active svg path {
  stroke: #7943A4;
  transition: stroke .5s ease-in-out;
}

.dropdown-actor {
  font-size: 14px;
  color: #ffffff;
  border: 2px solid transparent;
  display: block;
  text-decoration: none;
  transition: border .3s ease-in-out;
}

.dropdown-actor:hover {
  border: 2px solid #9D5CD0;
}

.dropdown-actor:focus {
  border: 2px solid #9D5CD0;
}

.dropdown-name:not(:last-child) {
  margin-bottom: 20px;
}

.tintoretto {
  background-image: url('../img/Tintoretto.png');
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px;
  transition: border .3s ease-in-out;
}

.tintoretto:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('.../img/Tintoretto.png');
  border: 2px solid #D1A9F0;
}

.fridrih {
  background-image: url('../img/Fridrih.png');
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px;
  transition: border .3s ease-in-out;
}

.fridrih:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Fridrih.png');
  border: 2px solid #D1A9F0;
}

.leonardo {
  background-image: url('../img/Leonardo.png');
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px;
  transition: border .3s ease-in-out;
}

.leonardo:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Leonardo.png');
  border: 2px solid #D1A9F0;
}

.verokio {
  background-image: url('../img/Verokio.png');
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px;
  transition: border .3s ease-in-out;
}

.verokio:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Verokio.png');
  border: 2px solid #D1A9F0;
}

.link-dropdown::after {
  background-image: url('../img/strelka.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.simplebar__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.menu-bottom-galka {
  background-image: url("../img/galka.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 7px;
  height: 7px;
  display: inline-block;
}

.search {
  display: none;
  position: relative;
  width: 265px;
  transition: fill .5s ease-in-out;
  transition: border-color .5s ease-in-out;
}

.search-is_active {
  position: absolute;
  right: 13%;
  width: 100%;
  height: 100px;
  background-color: #000000;
}

.search:hover * {
  border-color: #9D5CD0;
  fill: #9D5CD0;
}

.search-close-button:focus:not(:active) *, .search-close-button:focus:not(:hover) * {
  border-color: #9D5CD0;
  fill: #9D5CD0;
}

.search-close-button:active * {
  border-color: #7943A4;
  fill: #7943A4;
}

.search-button:active * {
  border-color: #7943A4;
  fill: #7943A4;
}

.search-button:focus:not(:active) *, .search-button:focus:not(:hover) * {
  border-color: #9D5CD0;
  fill: #9D5CD0;
}

.search-input-is_active {
  width: 71%;
}

.search-input {
  display: none;
}

.search-input-is_active {
  display: block;
}

.search-input {
  width: 85%;
  height: 26px;
  padding: 6px 0px;
  color: #FFFFFF;
  caret-color: #C283F3;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  border-radius: 0px;
  cursor: pointer;
  transition: border-color .4s ease-in-out;
}

.search-button {
  position: absolute;
  left: 3px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: none;
  background-color: transparent;
}

.search-close-button {
  display: none;
}

.search-close-button--appear {
  display: block;
  position: absolute;
  left: 100%;
  border: none;
}

.header-bottom__search {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-left: 0px;
  outline: none;
  transition: border-bottom 0.5s ease-in-out;
  padding-right: 17px;
  color: #ffffff;
}

.header-bottom__btn-search {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  margin-right: 15px;
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.header-bottom__form:hover .btn-search__icon {
  fill: #C283F3;
}

/* header select */

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  /* display: none; */
  font-size: 16px;
  color: #fff;
  height: 20px;
}

.bottom-list-item {
  position: relative;
  margin-right: 84px;
}

.is-selected {
  display: none !important;
}

.choices__inner {
  display: flex !important;
  justify-content: space-between;
  background-color: transparent !important;
  align-items: center;
  border: 1px solid #FFFFFF !important;
  border-radius: 6px !important;
  padding: 0 13px !important;
  padding-bottom: 2px !important;
  height: 40px;
  color: #FFFFFF;
  cursor: pointer;
  transition: border .3s ease-in-out, color .3s ease-in-out;
  min-height: 43px !important;
}

.choices__list--single {
  padding: 0 !important;
}

.choices__list--single .choices__item {
  font-size: 16px !important;
}

.choices__list--dropdown {
  top: 99% !important;
  display: block;
  margin: 0 !important;
  background-color: transparent !important;
  border: 1px solid #999999 !important;
  border-top: none !important;
  border-radius: 6px !important;
  padding: 0;
  width: 100% !important;
  list-style: none !important;
  visibility: visible !important;
  opacity: 1;
  overflow: hidden !important;
  transition: opacity .3s ease-in-out;
}

.choices__list--dropdown .choices__item {
  display: flex;
  align-items: center;
  height: 40px;
  padding-bottom: 10px !important;
  padding-left: 19px !important;
  font-size: 16px !important;
  color: #999999;
  cursor: pointer !important;
  transition: background .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.choices {
  transition: background .3s ease-in-out;
}

.is-focused {
  background: transparent !important;
}

.choices:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}

.choices:focus {
  background: rgba(255, 255, 255, 0.2);
}
.choices:active {
background: rgba(255, 255, 255, 0.2);
}

.is-highlighted {
  color: #ffffff !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

.choices[data-type*=select-one]:after {
  background: url('/img/galka.svg') center center;
  width: 12px !important;
  height: 7px !important;
  background-repeat: no-repeat;
  border: none !important;
  transition: transform .3s ease-in-out;
  margin-top: 0 !important;
  right: 16px !important;
}

.choices[data-type*=select-one].is-open:after {
  transform: rotate(180deg);
  margin: 0 !important;
  transition: transform .3s ease-in-out;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.select-styled {
  cursor: pointer;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* padding: 8px 15px; */
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.select-styled:after {
  margin-top: 7px;
  margin-left: 6px;
  content: '';
  position: absolute;
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate( 45deg);
  transition-property: transform;
  transition-duration: 500ms;
  transition: border 0.2s ease-in-out;
}

.select-styled:focus:not(:active), .select-styled:focus:not(:hover) {
  background: #7943A4;
}

.select-styled:hover {
  color: #9D5CD0;
}

.select-styled:active {
  color: #7943A4;
}

.select-styled:active:after {
  border: solid #7943A4;
  border-width: 0 1px 1px 0;
}

.select-styled:hover:after {
  border: solid #9D5CD0;
  border-width: 0 1px 1px 0;
}

/* .select-styled:hover {
  background-color: #b83729;
} */

/* .select-styled:active, .select-styled.active {
  background-color: #ab3326;
} */

.select-styled:active:after, .select-styled.active:after {
  transform: rotate(224deg);
  margin-top: 11px;
}

.select-options {
  display: none;
  position: absolute;
  top: 220%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(0, 0, 0, 0.4);
  padding-left: 25px;
  padding-right: 25px;
  width: 300px;
  height: 300px;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.select-options li {
  cursor: pointer;
  margin: 0;
  padding: 11px 0;
  text-indent: 15px;
  -moz-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  -webkit-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.select-options li:hover {
  border: 2px solid #9D5CD0;
}

.select-options li[rel="TINTORETTO"]:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Tintoretto.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.select-options li[rel="FRIDRIH"]:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Fridrih.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.select-options li[rel="LEONARDO"]:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Leonardo.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.select-options li[rel="VEROKIO"]:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Verokio.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.select-option li:focus:not(:active), .select-option li:focus:not(:hover) {
  border: 2px solid #9D5CD0;
}

.select-options li[rel="hide"] {
  display: none;
}

.select-options li {
  margin-top: 21px;
  border: 2px solid transparent;
}

.select-options li:nth-child(2) {
  margin-top: 0;
}

.select-options li[rel="TINTORETTO"] {
  background-image: url('../img/Tintoretto.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select-options li[rel="FRIDRIH"] {
  background-image: url('../img/Fridrih.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select-options li[rel="LEONARDO"] {
  background-image: url('../img/Leonardo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select-options li[rel="VEROKIO"] {
  background-image: url('../img/Verokio.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select-options li:last-child {
  margin-bottom: 15px;
}

/* main */

/* hero */

.hero {
  position: relative;
}

.main-title {
  width: 1px;
  height: 1px;
  position: absolute;
  color: transparent;
  overflow: hidden;
}

.swiper {
  width: 100%;
  min-height: 711px;
  position: relative;
  margin-top: -565px;
  z-index: 1;
  overflow: hidden;
}

.img-birmingham {
  background: url('../img/birmingham.jpg');
  animation-delay: 0s !important;
}

.swiper-hero {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -86px;
  left: 0;
  z-index: 1;
}

.img-museum {
  background-image: url('../img/museums.jpg');
  animation-delay: 2s !important;
}

.img-trust {
  background-image: url('../img/trust.jpg');
  animation-delay: 4s !important;
}

.hero-container {
  padding-top: 71px;
  padding-bottom: 118px;
  color: #FFFFFF;
  z-index: 2;
}

.section-first__paragraph {
  width: 38%;
  margin: 0;
  margin-bottom: 93px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.br-first-paragraph {
  display: none;
}

.section-first__paragraph-tablet {
  display: none;
}

.section-first__title {
  width: 36%;
  margin: 0;
  font-size: 72px;
  line-height: 82px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: bold;
}

.br-first-tittle {
  display: none;
}

.section-first__btn-mailing {
  background: #9D5CD0;
  border-radius: 100px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 33px;
  padding-right: 33px;
  border: 3px solid transparent;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  position: relative;
}

.section-first__btn-mailing:focus:not(:active).section-first__btn-mailing::after, .section-first__btn-mailing:focus:not(:hover).section-first__btn-mailing::after {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: -9px;
  border: solid 3px #C283F3;
  width: 320px;
  border-radius: 100px;
  padding-bottom: 12px;
  min-height: 100%;
  z-index: 10;
}

.section-first__btn-mailing:hover {
  border: 3px solid #D1A9F0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.section-first__btn-mailing:active {
  background: #7943A4;
  border: 3px solid #D1A9F0;
}

/* slider animation */

.slider {
  width: 100%;
  height: 100%;
  min-height: 711px;
  position: absolute;
  top: -81px;
  z-index: -1;
}

.slick-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: imagesFading 20s infinite;
  -moz-animation: imagesFading 20s infinite;
  -o-animation: imagesFading 20s infinite;
  animation: imagesFading 20s infinite;
}

@keyframes imagesFading {
  0% {
    opacity: 1;
    width: 100%;
  }
  25% {
    opacity: 1;
    width: 110%;
  }
  53% {
    opacity: 0;
    width: 120%;
  }
  73% {
    opacity: 1;
    width: 110%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

/* about us */

.about-container {
  padding-top: 81px;
  padding-bottom: 71px;
}

.about-title {
  margin-bottom: 18px;
}

.text-about {
  font-size: 16px;
  line-height: 32px;
  width: 67.5%;
  margin: 0;
  font-style: normal;
  font-weight: normal;
}

/* galery */

.gallery {
  background-image: url('../img/MK.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.gallery_container {
  display: flex;
  padding-top: 80px;
  min-width: 0;
  padding-bottom: 64px;
}

.gallery__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  margin-right: 48px;
}

.gallery-title {
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 17px;
}

.gallery-link {
  color: #9D5CD0;
  font-weight: 600;
  text-decoration: none;
  transition: border .5s ease-in-out;
}

.gallery-link:focus {
  outline: 2px solid #7943A4;
}

.gallery-link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.gallery-link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.gallery-filter-row {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
}


.gallery__tittle {
  margin: 0;
  color: #ffffff;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  padding-bottom: 15px;
}

.gallery__filtr {
  border: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 0;
  padding-bottom: 8px;
}

.gallery__select {
  width: 100%;
}

.gallery-text {
  max-width: 90%;
  color: #ffffff;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 4px;
}

.gallery-block {
  display: none;
}

.choices__placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.swiper-pagination-gallery {
  margin-top: 7px;
}

/* slider */

.navigation-gallery-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 12%;
  margin-bottom: 25px;
}

.gallery-slider {
  /* max-width: 72%; */
  margin: 0;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 15px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  color: transparent;
}

/* .swiper-button-next {
  position: relative !important;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  order: 3;
  width: 43px;
  height: 30px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 100%;
}

.swiper-button-prev {
  position: relative !important;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  width: 43px;
  height: 30px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 100%;
} */

.swiper-button-prev {
  margin-left: -5px;
  width: 30px;
  height: 30px;
  background-color: #666666;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url('../img/strelka.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate( 90deg);
  outline: none;
  z-index: 25;
  border: 2px solid transparent;
  transition: background-color 0.5s ease-in-out;
}

/* .swiper-button-disabled {
  pointer-events: unset !important ;
} */

.swiper-button-prev:hover {
  background-color: #9D5CD0;
}

.swiper-button-prev:focus:not(:active), .swiper-button-prev:focus:not(:hover) {
  border-color: #9D5CD0;
}

.swiper-button-next:focus:not(:active), .swiper-button-next:focus:not(:hover) {
  border-color: #9D5CD0;
}

.swiper-button-next:hover {
  background-color: #9D5CD0;
}

.swiper-button-prev:active {
  background-color: #7943A4;
  border: 2px solid #D1A9F0;
}

.swiper-button-next:active {
  background-color: #7943A4;
  border: 2px solid #D1A9F0;
}

.sliderpro {
  position: relative;
}

.button-project-prev {
  background-image: url('../img/strelka2.svg');
  margin-top: -15px;
  margin-left: -11px;
  background-color: #ececec;
  transition: background-color .5s ease-in-out;
}

.button-project-prev:focus:not(:active), .button-project-prev:focus:not(:hover) {
  border: 2px solid #9D5CD0;
}

.button-project-prev:hover {
  background-color: #D1A9F0;
}

.button-project-prev:active {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.sliderpro .swiper-container {
  /* margin: 0 auto; */
  max-width: 1450px;
}

.swiper-button-next {
  margin-right: -5px;
  width: 30px;
  height: 30px;
  z-index: 25;
  order: 3;
  background-color: #666666;
  border-radius: 100px;
  box-sizing: border-box;
  background-image: url('../img/strelka.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate( -90deg);
  outline: none;
  border: 2px solid transparent;
  transition: background-color 0.5s ease-in-out;
}

.button-project-next {
  background-image: url('../img/strelka2.svg');
  margin-top: -15px;
  margin-right: -11px;
  background-color: #ececec;
}

.gallery__slider {
  position: relative;
  grid-area: slider;
  overflow: hidden;
  width: 100%;
  max-width: 1150px;
  height: 100%;
}

.swiper-pagination {
  position: relative;
  color: #ffffff;
}

.gallery__navigation {
  padding-top: 20px;
  padding-bottom: 30px;
}

.slider-nav {
  display: flex;
  align-items: center;
}

.slider-nav__btn-next, .slider-nav__btn-prev {
  position: relative;
  top: 75px;
  width: 32px;
  height: 32px;
  border: 2px solid #666;
  border-radius: 50%;
  background-color: #666;
  color: #fff;
  cursor: pointer;
  transition: .3s all;
  transition-property: background-color, border-color, opacity;
}

.swiper-container-multirow-column>.swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  width: 4740px;
  transform: translate3d(-948px, 0px, 0px);
  transition-duration: 0ms;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  padding: 0;
}

.gallery__item:nth-child(-n+9) {
  margin-bottom: 23px !important;
}

.gallery__item {
  position: relative;
  /* height: auto;
  max-height: 350px; */
  margin-top: 0 !important;
  max-width: 355px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: .3s opacity, 0s border-color;
}

.gallery__list-img:focus:not(:active), .gallery__list-img:focus:not(:hover) {
  border: 3px solid #7943A4;
}

.gallery__list-img:active {
  border: 3px solid #7943A4;
}

.gallery__img:not(:last-child) {
  margin-bottom: 49px;
}

.gallery__list-img:active.gallery__list-img::after {
  opacity: 1;
  z-index: 1;
}

.gallery__list-img {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  outline-offset: 0;
  transition: border .5s ease-in-out;
  padding: 0;
  background: transparent;
  border: 3px solid transparent;
}

.gallery__list-img:hover.gallery__list-img::before {
  opacity: 1;
  z-index: 1;
  transition: opacity .5s ease-in-out;
}

.gallery__list-img::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  background-image: url('../img/Hover_gallery.png');
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.gallery__list-img::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.gallery__img {
  position: relative;
  object-fit: cover;
  width: auto;
}

/* CATALOG */

.catalog-container {
  padding-top: 75px;
  padding-bottom: 80px;
}

.catalog-tittle {
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  margin-right: 30px;
}

.top-catalog {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.flag {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 9px;
}

.flag-item-btn {
  width: 66px;
  height: 66px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  border: 2px transparent;
}

.language {
  display: none;
}

.language_active {
  display: block;
}

.open-accordion-list {
  min-height: auto;
}

.selected {
  border: 2px solid #9D5CD0;
  border-radius: 50%;
}

.france {
  background-image: url('../img/im4.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.germany {
  background-image: url('../img/im6.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.italy {
  background-image: url('../img/im7.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.russia {
  background-image: url('../img/im8.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.belgia {
  background-image: url('../img/im5.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.flag-item-btn:focus:not(:active), .flag-item-btn:focus:not(:hover) {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  transition: filter .5s ease-in-out;
}

.flag-item-btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  transition: filter .5s ease-in-out;
}

.flag-item-btn.selected {
  filter: none;
}

.flag-item-btn:active {
  border: 2px solid #7943A4;
  border-radius: 50px;
  transition: border .5s ease-in-out;
}

.flag-item:not(:last-child) {
  margin-right: 30px;
}

.flag-item-btn_active {
  border: 2px solid #7943A4;
  border-radius: 50px;
}

.flag-item-btn_active .img-flag-btn {
  filter: none !important;
}

.catalog-right-child-language {
  display: none;
}

.accordions .ui-accordion-header-icon {
  content: '';
  background-image: url('../img/strelka2.svg') !important;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  border: none;
  border-radius: 50%;
  background-color: #ECECEC;
  outline: none;
  padding: 2px;
  box-sizing: border-box;
  background-size: 17px;
  transition: background-color 0.5s ease-in-out;
  transition-property: transform;
  transition-duration: 500ms;
}

.accordions .ui-state-active .ui-icon-triangle-1-s {
  transform: rotate( -180deg) !important;
}

.accordion .ui-accordion-header {
  position: relative;
}

.accordions .catalog-right-heading {
  padding-top: 29px;
}

.accordions .catalog-right-heading {
  border-top: 2px solid #CACACA;
  cursor: pointer;
  position: relative;
  transition: color .5s ease-in-out;
}

/* .catalog-right-heading:focus {
  border-color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.catalog-right-heading:focus .catalog-right-header {
  background-color: #9D5CD0;
  color: #FFFFFF;
}

.catalog-right-heading:focus .catalog-right-btn {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
} */

.catalog-right-heading:active {
  border-color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.catalog-right-heading:hover {
  border-color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.accordions .open-accordion-list::after {
  content: "";
  position: relative;
  display: block;
  left: 0px;
  bottom: -32px;
  width: 100%;
  height: 1px;
  background: transparent;
  z-index: 1;
  transition: border-color .5s ease-in-out;
}

.accordions .open-accordion-list:active:after {
  background-color: #7943A4;
}

.accordions .open-accordion-list:hover:after {
  background-color: #9D5CD0;
}

.accordions .catalog-right-heading:nth-last-child(2) {
  border-bottom: solid 1px #CACACA;
}

.accordions .catalog-right-heading:nth-last-child(2):hover {
  border-color: #9D5CD0;
}

.accordions .catalog-right-heading:nth-last-child(2):active {
  border-color: #7943A4;
}

.catalog-left-block-language {
  width: 47%;
}

.accordions {
  width: 53%;
  padding-left: 47px;
}

.accordion-language {
  width: 64%;
}

.catalog-text {
  max-width: 1080px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 35px;
}

.catalog-block {
  display: flex;
}

.catalog-left-block {
  display: none;
}

.catalog-left-block_active {
  display: block;
}

.catalog-left-block .catalog-left-block_active {
  display: block;
}

.catalog-left-block {
  width: 47%;
}

.img-left-catalog {
  width: 100%;
  margin-bottom: 26px;
}

.placeholder-left-catalog {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.text-left-catalog {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.small-tittle-catalog {
  margin-bottom: 9px;
}

.catalog-right-btn {
  background-image: url('../img/strelka2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  border: none;
  border-radius: 50%;
  background-color: #ECECEC;
  outline: none;
  padding: 2px;
  box-sizing: border-box;
  background-size: 17px;
  transition: background-color 0.5s ease-in-out;
  transition-property: transform;
  transition-duration: 500ms;
}

.ui-state-active .catalog-right-btn {
  transform: rotate(-180deg);
}

.catalog-right-heading {
  /* border-top: 1px solid #CACACA; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 33px;
  margin: 0;
  cursor: pointer;
}

.catalog-right-block {
  width: 53%;
  margin: 0;
  padding-left: 47px;
}

.catalog-right-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  order: -1;
  margin: 0;
}

.ui-accordion-header-icon {
  display: none;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.questions-content-heading {
  /* border-bottom: 1px solid #CACACA; */
  cursor: pointer;
  position: relative;
  transition: border-color .5s ease-in-out;
}

.catalog-right-heading {
  border-top: 1px solid #CACACA;
}

.ui-accordion-header-active {
  border-top-color: #7943A4 !important;
}

.ui-accordion-header-active .catalog-right-btn {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.accordions .ui-accordion-header-active .ui-accordion-header-icon {
  border: 2px solid #9D5CD0;
  background-color: #D1A9F0;
}

.accordion-question-content-heading span {
  display: none;
}

.ui-accordion-header-active {
  border-color: #7943A4;
}

.ui-accordion-header-active .questions-content-heading {
  border-top: none;
}

/* .questions-content-heading:after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: transparent;
  z-index: 1;
  transition: background .5s ease-in-out;
} */

.questions-content-heading:hover .catalog-right-heading {
  border-color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.questions-content-heading:focus .catalog-right-heading {
  border-color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.questions-content-heading:focus:not(:active) .catalog-right-header, .questions-content-heading:focus:not(:hover) .catalog-right-header {
  background: #9D5CD0;
  color: #FFFFFF;
}

.questions-content-heading:focus:not(:active) .catalog-right-btn, .questions-content-heading:focus:not(:hover) .catalog-right-btn {
  background-color: #D1A9F0;
}

.questions-content-heading:active:after {
  background-color: #7943A4;
}

.questions-content-heading:active .catalog-right-heading {
  border-color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.questions-content-heading:last-child {
  border-bottom: solid 1px #CACACA;
}

.questions-content-heading:hover .catalog-right-header {
  color: #9D5CD0;
}

.questions-content-heading:active .catalog-right-header {
  color: #7943A4;
}

.questions-content-heading:hover .catalog-right-btn {
  background-color: #D1A9F0;
}

.questions-content-heading:active .catalog-right-btn {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.ui-accordion-content-active {
  border-bottom: 1px solid #9D5CD0;
}

.open-accordion-list {
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 1px solid #9D5CD0;
  /* border-bottom: 1px solid #9D5CD0; */
  column-fill: auto;
}

.ui-accordion-content-active {
  z-index: 1;
}

.catalog-right-heading {
  z-index: 3;
}

.catalog-left-block a {
  text-decoration: none;
  font-size: 16px;
  color: #9D5CD0;
  ;
}

.catalog-firsth-child {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(9, 32px)/repeat(3, 259px);
}

.catalog-right-child {
  padding: 0;
}

.artist_active .artist__item {
  color: #7943A4;
}

.artist__item {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  max-width: max-content;
  background: transparent;
  border: transparent;
  padding: 0;
  transition: color .1s ease-in-out;
}

.artist__item:focus:not(:active), .artist__item:focus:not(:hover) {
  background-color: #9D5CD0;
  color: #ffffff;
  /* transition: background .1s ease-in-out; */
}

.artist__item:hover {
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  transition: border .1s ease-in-out;
}

.artist__item:active {
  color: #7943A4;
  background-color: transparent;
  border-bottom: none;
}

.artist-lorem {
  display: flex;
  align-items: center;
}

.artist-lorem img {
  border: 2px solid #B7B7B7;
  padding: 12px;
}

.img-hudojnik {
  width: 100%;
}

.artist__list {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  width: 35%;
}

.artist__list a {
  text-decoration: none;
  color: #9D5CD0 !important;
}

/* event */

.event-container {
  padding-bottom: 78px;
}

.event-tittle {
  font-size: 48px;
  line-height: 65px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0px;
}

.event__list {
  flex-wrap: wrap;
  margin-bottom: 0;
}

.event__list-swapper {
  overflow: hidden;
  width: 100%;
}

.event__item {
  max-width: 31.2%;
  min-height: 700px;
  border: 1px solid #CACACA;
  background-color: #FFFFFF;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.pagination-event {
  display: none;
}

.event__item:nth-of-type(-n+2) {
  margin-right: 51px;
}

.event__item:nth-of-type(n+4) {
  display: none;
  margin-right: 51px;
}

.event-container {
  display: flex;
  flex-direction: column;
}

.event-block {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 47px;
  flex-grow: 1;
  align-items: flex-start;
}

.event__book-img {
  width: 100%;
  min-height: 300px;
}

.event__top-text-item {
  margin: 0;
  padding-top: 15px;
  margin-left: auto;
  text-align: right;
  padding-right: 17px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.event-top-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event__book-titles {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 33px;
  color: #333333;
  margin: 0;
  padding-top: 5px;
}

.event__bottom-text-item {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  padding-top: 2px;
}

.event__btn {
  color: #9D5CD0;
  text-decoration: none;
  border-bottom: 1px solid #9D5CD0;
  padding-bottom: 4px;
  margin-bottom: 41px;
  margin-top: auto;
  font-weight: normal;
  transition: color .5s ease-in-out;
}

.event__btn:focus:not(:active), .event__btn:focus:not(:hover) {
  background-color: #9D5CD0;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.event__btn:hover {
  color: #7943A4;
}

.event__btn:active {
  color: #333333;
  border-color: #333333;
}

.event-more-btn {
  align-self: center;
  color: #9D5CD0;
  padding: 15px 34px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  transition: color .4s ease-in-out, background-color .4s ease-in-out, border-color .4s ease-in-out;
  cursor: pointer;
}

.event-more-btn:focus:not(:active), .event-more-btn:focus:not(:hover) {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #C283F3;
}

.event-more-btn:hover {
  background-color: #9D5CD0;
  color: white;
}

.event-more-btn:active {
  color: #ffffff;
  background-color: #7943A4;
  border: 2px solid #D1A9F0;
  transition-property: background-color, color, border;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.openevent {
  display: none;
}

.show-block {
  display: block;
}

/* publishing */

.publishing {
  background-image: url('../img/bg1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.publishing-container {
  display: flex;
  padding-top: 77px;
  min-width: 0;
  padding-bottom: 73px;
}

.publishing__title {
  font-size: 47px;
  line-height: 74px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.publishing__check-title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 1px;
  text-align: left;
  border: none;
}

.publishing__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29%;
}

.publishing-swiper-not-slider {
  display: none;
}

/* .publish-form {
  padding-bottom: 44px;
} */

.publish__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.publish__check-box {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  margin-left: -1.2em;
  margin-top: 10px;
}

.label-publish__check {
  display: flex;
  flex-direction: column;
}

#editions-accordion {
  display: none;
}

.editions-accordion__box {
  display: none;
}

.publish__items {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 4px;
  outline: none;
}

.publish__check {
  padding-left: 20px;
  margin: 0;
  cursor: pointer;
  transition: color .5s ease-in-out;
}

.publish__check:hover .publish__items {
  color: #C283F3;
}

.publish__check:hover .publish__check-box {
  border: 1px solid #C283F3;
}

.publish__check-input:checked+.publish__check-box {
  background-image: url('../img/16.svg');
  background-position: center;
  background-repeat: no-repeat;
  color: #C283F3;
  border: 1px solid #C283F3;
}

.publish__check-input:checked~.publish__items {
  color: #C283F3;
}

.publish__price-title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 10px;
}

.publish__price {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  max-width: 341px;
  height: 40px;
}

.price1 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #000000;
  padding-left: 6px;
  padding-right: 9px;
}

.price2 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #9D5CD0;
  padding-left: 8px;
  white-space: nowrap;
}

.publish__price-input {
  max-width: 65px;
  height: 16px;
  border: none;
  background-color: #9D5CD0;
}

/* publish swiper  */

.publishing-swiper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 74%;
  padding-top: 26px;
}

nav-not-slider {
  display: none;
}

.publish__list {
  flex-grow: 1;
  width: 100%;
}

.swiper-slide .publish__img {
  display: block;
  max-height: 389px;
}

/* .swiper-slide-invisible-blank {
  display: none;
} */

.publish__top-btn {
  position: relative;
  margin-bottom: 9px;
  padding-top: 18px;
  display: flex;
  align-items: center;
  width: 11%;
}

.button-prev-publish {
  margin-left: -9px;
}

.button-next-publish {
  margin-right: -13px;
}

.swiper-publish-pagination {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.editions-slider__meta {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 16px;
}

.publish__card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  padding-top: 24px;
  margin: 0;
}

.publish__card-item {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

.publish__card-aftor {
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  padding-bottom: 12px;
  margin: 0;
}

.publish__card-price {
  display: inline-block;
  margin-left: auto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.publish__btn {
  position: relative;
  display: block;
  max-width: 119px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  outline: none;
  background-color: transparent;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  transition-property: background-color, color, border;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.publish-swiper .swiper-wrapper {
  /* padding-left: 5px; */
  padding-bottom: 5px;
}

.publish__btn:hover {
  background: #9D5CD0;
}

.publish__btn:active {
  background: #7943A4;
  border: 2px solid #D1A9F0;
}

.publish__btn:focus:not(:active).publish__btn::after, .publish__btn:focus:not(:hover).publish__btn::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  border: solid 2px #C283F3;
  width: 127px;
  border-radius: 100px;
  padding-bottom: 12px;
  min-height: 100%;
  z-index: 10;
}

.publish-swiper-slide {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

/* project */

.project-container {
  padding-top: 80px;
  padding-bottom: 79px;
}

.projects-text {
  width: 68%;
  margin-bottom: 21px;
  line-height: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.projects-title {
  font-weight: normal;
  margin: 0;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 15px;
}

.proyect__part {
  font-size: 25px;
  line-height: 32px;
  padding-bottom: 23px;
  margin: 0;
  font-weight: normal;
}

.proyect__slide {
  position: relative;
}

.projects-popup {
  position: absolute;
  z-index: 5;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  background-image: url('../img/tooltip-background.png');
  opacity: 0;
  transition: opacity .4s ease-in-out;
  font-weight: normal;
}

.projects-tooltip {
  position: relative;
}

.projects-tooltip-icon {
  display: inline-block;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.projects-tooltip-background {
  position: relative;
  top: 4px;
  transition: fill .4s ease-in-out;
}

.projects-tooltip-figure {
  transition: fill .4s ease-in-out;
}

[data-tooltip="1"] {
  width: 264px;
  top: -59px;
  left: -125px;
  padding-top: 8px;
  padding-bottom: 19px;
  padding-left: 3px;
  padding-right: 4px;
}

[data-tooltip="2"] {
  width: 264px;
  top: -72px;
  left: -125px;
  padding-top: 8px;
  padding-bottom: 21px;
  padding-left: 9px;
  padding-right: 11px;
}

[data-tooltip="3"] {
  width: 232px;
  top: -41px;
  left: -108px;
  padding-top: 7px;
  padding-bottom: 19px;
  padding-left: 4px;
  padding-right: 5px;
}

.projects-tooltip-icon:hover+.projects-popup {
  opacity: 1;
  z-index: 10;
}

.projects-tooltip-icon:hover>.projects-tooltip-background {
  fill: #9D5CD0;
}

.projects-tooltip-icon:hover * .projects-tooltip-figure {
  fill: #ffffff;
}

.projects-tooltip-icon:focus:not(:active), .projects-tooltip-icon:focus:not(:hover) {
  outline: none;
}

.projects-tooltip-icon:focus:not(:active)+.projects-popup, .projects-tooltip-icon:focus:not(:hover)+.projects-popup {
  opacity: 1;
  z-index: 10;
}

.projects-tooltip-icon:focus:not(:active)>.projects-tooltip-background, .projects-tooltip-icon:focus:not(:hover)>.projects-tooltip-background {
  fill: #9D5CD0;
}

.projects-tooltip-icon:focus:not(:active) * .projects-tooltip-figure, .projects-tooltip-icon:focus:not(:hover) * .projects-tooltip-figure {
  fill: #ffffff;
}

.projects-link {
  color: #9D5CD0;
  text-decoration: none;
  transition: color .1s ease-in-out;
}

.projects-link:focus:not(:active), .projects-link:focus:not(:hover) {
  outline: 2px solid #7943a4;
  outline-offset: 3px;
}

.projects-link:hover {
  border-color: #9D5CD0;
  font-weight: bold;
}

.projects-link:active {
  color: #7943a4;
  outline: none;
}

/* swiper */

.swiper-iner {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-project img {
  filter: grayscale(1);
  cursor: pointer;
  opacity: 0.5;
}

.slide-project:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.project-slide .swiper-slide {
  max-width: 463px;
}

/* contacts */

/* .title {
  font-weight: 400;
  margin: 0;
  font-size: 48px;
  line-height: 65px;
} */

.contacts-container {
  margin-bottom: 17px;
}

.contacts-total-block {
  display: flex;
}

.contacts-form-block {
  width: 35.5%;
  padding-top: 123px;
  padding-bottom: 121px;
  padding-left: 160px;
  padding-right: 120px;
  border: 1px solid #cacaca;
}

.contacts-address-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 9px;
}

.contacts-address {
  display: block;
  margin-bottom: 37px;
}

.contacts-form-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.contacts-form {
  width: 100%;
  margin-bottom: 38px;
}

.contacts-form-fieldset:nth-child(1) {
  height: 55px;
}

.contacts-form-fieldset:nth-child(2) {
  height: 63px;
  margin-bottom: 22px;
}

.contacts-form-fieldset {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  border: none;
}

.contacts-socials-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 13px;
}

.contacts__soc-img {
  margin-right: 15px;
}

.contacts-wa:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  transition: filter .5s ease-in-out;
}

.contacts-tg:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  transition: filter .5s ease-in-out;
}

.contacts-form-input {
  width: 100%;
  height: 40px;
  padding: 4px 23px;
  font-size: 16px;
  line-height: 32px;
}

.input {
  font-family: inherit;
  border: 1px solid #333333;
  border-radius: 100px;
}

.footer-input__email::placeholder {
  color: #999999;
}

.footer-input {
  display: flex;
  flex-direction: column-reverse;
  height: 55px;
}

.footer-input-2 {
  display: flex;
  flex-direction: column-reverse;
  height: 63px;
  margin-bottom: 19px;
}

.footer-input__full-name, .footer-input__email {
  width: 100%;
  max-width: 420px;
  min-height: 40px;
  /* margin-bottom: 22px; */
  border: 1px solid #333333;
  border-radius: 100px;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
  padding-left: 23px;
}

.contacts-form-button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding: 16px 34px;
  width: min-content;
  color: #9D5CD0;
  border-radius: 100px;
  border: 2px solid #9D5CD0;
  background-color: transparent;
  transition: background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s ease-in-out;
  cursor: pointer;
}

.contacts-form-button:hover {
  background-color: #9D5CD0;
  color: white;
}

.contacts-form-button:active {
  background-color: #9D5CD0;
  color: white;
  border-color: #D1A9F0;
}

.block-maps {
  width: 64.5%;
}

.map {
  width: 100%;
  height: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-78-map-copyrights-promo {
  display: none;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.js-validate-error-label {
  font-size: 12px;
  color: #D11616 !important;
}

.slide-proyect1 {
  background-image: url('../img/166.png');
  background-position: center center;
  background-repeat: no-repeat;
}

/* footer */

.footer {
  background-color: #000000;
  min-height: 140px;
}

.footer__container {
  padding-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__soc {
  display: flex;
  justify-content: space-between;
}

.footer__social-img:not(:last-child) {
  margin-right: 19px;
}

.footer__social-img {
  transition: fill .1s ease-in-out;
}

.footer__social-img:hover .vk path {
  fill: #9D5CD0;
}

.footer__social-img:hover .inst path {
  fill: #9D5CD0;
}

.footer__social-img:hover .fb path {
  fill: #9D5CD0;
}

.footer__social-img:hover .vk path {
  fill: #7943a4;
}

.footer__social-img:hover .inst path {
  fill: #7943a4;
}

.footer__social-img:hover .fb path {
  fill: #7943a4;
}
